:root {
	--main-bg-color: #375623;
	--main-bright-color: #f48c06;
	--main-dark-color: #00000087;
}

#root {
	position: relative;
}

.hotBorder {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	/* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
	/* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.footer {
	border-top: 2px solid rgba(160, 159, 159, 0.296);
	width: 100%;
	bottom: 0;
	color: darkgrey;
	font-size: 1rem;
}

.footer p {
	margin-bottom: 0;
	padding-left: 1rem;
}

.content-wrap {
	padding-bottom: 80px !important;
}

body {
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	word-wrap: break-word;
	overflow-y: auto;
	overflow-x: hidden;
}

.bg-main {
	transition: background-color 700ms;
	background-color: var(--main-dark-color);
}

div .carousel {
	margin-top: 5em;
}

#coachesImage {
	height: 75vh;
	width: 100%;
}

.nav-link {
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
	color: white !important;
}


.nav-link:hover {
	text-decoration-color: var(--main-bright-color);
}

.nav-btn {
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
	color: white !important;
}

.nav-btn:hover {
	text-decoration-color: var(--main-dark-color);
}

.btn-join {
	color: white;
	background-color: var(--main-bg-color);
	border-color: var(--main-dark-color);
	width: 50%;
}

#log-in-btn {
	background-color: var(--main-bg-color);
}

.margin-down {
	margin-top: 25%;
}

#sign-up-btn {
	background-color: var(--main-bg-color);
}

.coach-carder {
	height: 100%;
}

.notFound {
	background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.landing-main {
	background-image: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 87vh;
	min-width: 100vw;
}

.coaches-main {
	background-image: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 80vh;
	width: 100vw;
}

.carousel-text {
	text-shadow: 2px 2px 5px rgb(58, 50, 50);
}

.footer--pin {
	position: relative;
	left: 0;
	bottom: 0;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tag-line {
	font-size: 4rem;
	color: white;
	text-shadow: rgb(46, 43, 43) 0px 2px 10px;
	padding: 25% 0 25% 0;
	/* margin-bottom: 50vh; */
}

.gap {
	padding: 10px 0 0 0;
	clear: both;
	min-height: 20px;
}

.errorcard {
	margin-top: 25%;
}
.secondp {
	width: 50%;
	margin-left: 25%;
}

#main > div:nth-child(1) > div > div > a {
	margin-left: 20vw;
}

#navbar > div > button.navbar-toggler {
	background-color: var(--main-bg-color);
}

.carousel {
	margin-top: 3%;
}

@media only screen and (max-width: 768px) {
	.carousel {
		margin-top: 15%;
	}
	.tag-line {
		font-size: 3rem;
		padding: 50% 0 25% 0;
	}
}

.gradient-1 {
	background: hsla(12, 98%, 44%, 1);
	background: linear-gradient(90deg, hsla(12, 98%, 44%, 1) 28%, hsla(43, 100%, 52%, 1) 86%);
	background: -moz-linear-gradient(90deg, hsla(12, 98%, 44%, 1) 28%, hsla(43, 100%, 52%, 1) 86%);
	background: -webkit-linear-gradient(90deg, hsla(12, 98%, 44%, 1) 28%, hsla(43, 100%, 52%, 1) 86%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DC2F02", endColorstr="#FFBA08", GradientType=1 );
	width: 100%;
	height: 20vh;
}

/* Spinner */
/* KEYFRAMES */

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes spin3D {
	from {
		transform: rotate3d(0.5, 0.5, 0.5, 360deg);
	}
	to {
		transform: rotate3d(0deg);
	}
}

@keyframes configure-clockwise {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes configure-xclockwise {
	0% {
		transform: rotate(45deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(-135deg);
	}
	75% {
		transform: rotate(-225deg);
	}
	100% {
		transform: rotate(-315deg);
	}
}

@keyframes pulse {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0.25;
		transform: scale(0.75);
	}
}

/* GRID STYLING */

* {
	box-sizing: border-box;
}
#spinner {
	height: 100vh;
	width: 100%;
	margin-top: 10%;
}

.spinner-box {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.configure-border-1 {
	width: 115px;
	height: 115px;
	padding: 3px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fb5b53;
	animation: configure-clockwise 2s ease-out 0s infinite alternate;
}

.configure-border-2 {
	width: 115px;
	height: 115px;
	padding: 3px;
	left: -115px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(63, 249, 220);
	transform: rotate(45deg);
	animation: configure-xclockwise 2s ease-in-out 0s infinite alternate;
}

.configure-core {
	width: 100%;
	height: 100%;
	background-color: #1d2630;
}
