:root {
	--main-bg-color: #375623;
	--main-bright-color: #f48c06;
	--main-dark-color: #00000087;
}

.hotBorder {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.content-wrap {
	padding-bottom: 80px !important;
}

body {
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	word-wrap: break-word;
	overflow-y: auto;
	overflow-x: hidden;
}

.bg-main {
	transition: background-color 700ms;
	background-color: var(--main-dark-color);
}

div .carousel {
	margin-top: 3em;
}

#coachesImage {
	height: 75vh;
	width: 100%;
}

.nav-link {
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
	color: white !important;
}

.nav-link:hover {
	text-decoration-color: var(--main-bright-color);
}

.nav-btn {
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
	color: white !important;
}

.nav-btn:hover {
	text-decoration-color: var(--main-dark-color);
}

.btn-join {
	color: white;
	background-color: var(--main-bg-color);
	border-color: var(--main-dark-color);
	width: 50%;
}

#log-in-btn {
	background-color: var(--main-bg-color);
}

.margin-down {
	margin-top: 25%;
}

#sign-up-btn {
	background-color: var(--main-bg-color);
}

.coach-carder {
	height: 100%;
}

.notFound {
	background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.logoutCard {
	background-image: url('https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.about {
	margin-top: 7.5rem;
	margin-bottom: 5rem;
	min-height: 85vh;
	color: var(--main-bg-color);
}

.overview {
	margin-top: 7.5rem;
	margin-bottom: 5rem;
	min-height: 85vh;
}

.overview-text {
	color: var(--main-bg-color);
}

.landing-main {
	background-image: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 90vh;
	min-width: 100vw;
}

.coaches-main {
	background-image: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 80vh;
	width: 100vw;
}

.register {
	background-image: url('https://images.unsplash.com/photo-1631261177958-b68a44d92a56?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.logIn {
	background-image: url('https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.carousel-text {
	text-shadow: 2px 2px 5px rgb(58, 50, 50);
}

.footer--pin {
	position: relative;
	left: 0;
	bottom: 0;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tag-line {
	font-size: 4rem;
	color: white;
	text-shadow: rgb(46, 43, 43) 0px 2px 10px;
	padding: 25% 0 25% 0;
	/* margin-bottom: 50vh; */
}

.gap {
	padding: 10px 0 0 0;
	clear: both;
	min-height: 20px;
}

.errorcard {
	margin-top: 25%;
}
.secondp {
	width: 50%;
	margin-left: 25%;
}

#main > div:nth-child(1) > div > div > a {
	margin-left: 20vw;
}

#navbar > div > button.navbar-toggler {
	background-color: var(--main-bg-color);
}

@media only screen and (max-width: 768px) {
	.tag-line {
		font-size: 3rem;
		padding: 50% 0 25% 0;
	}
}

.gradient-1 {
	background: hsla(12, 98%, 44%, 1);
	background: linear-gradient(90deg, hsla(12, 98%, 44%, 1) 28%, hsla(43, 100%, 52%, 1) 86%);
	background: -moz-linear-gradient(90deg, hsla(12, 98%, 44%, 1) 28%, hsla(43, 100%, 52%, 1) 86%);
	background: -webkit-linear-gradient(90deg, hsla(12, 98%, 44%, 1) 28%, hsla(43, 100%, 52%, 1) 86%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DC2F02", endColorstr="#FFBA08", GradientType=1 );
	width: 100%;
	height: 20vh;
}

