:root {
  --main-bg-color: #375623;
  --main-bright-color: #f48c06;
  --main-dark-color: #03071e;
}

body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  width: 100%;
  word-wrap: break-word;
}

.bg-main{
  transition: background-color 700ms;
  background-color: var(--main-bg-color);
}


.nav-link{
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
  color:  white !important;

}

.nav-link:hover {
  text-decoration-color: var(--main-bright-color) ;
}

.nav-btn{
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
  color:  white !important;

}

.nav-btn:hover {
  text-decoration-color: var(--main-dark-color) ;
}

.btn-join{
  color: white;
  background-color: var(--main-bg-color);
  border-color: var(--main-dark-color);
  width: 50%;
}

#log-in-btn{
  background-color: #d00000;
}

.margin-down {
margin-top: 25%;
}

#sign-up-btn{
  background-color: #e85d04;
}

.coach-carder{
height: 100%;
}

.fourofour {
background-image: url('https://images.unsplash.com/photo-1595714574653-a5fbb65eb001?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
width: 105vw;
position: relative;
top: -4rem;
}

.landing-main{
  background-image: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 87vh;
  max-width: 100vw;
  padding-top: 0;
  position: relative;
  top: -4rem;
}

.coaches-main{
  background-image: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  position: relative;
  top: -4rem;
}

.carousel-text{
  text-shadow: 2px 2px 5px rgb(58, 50, 50);
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag-line{
  font-size: 4rem;
  color: white;
  text-shadow: rgb(46, 43, 43) 0px 2px 10px;
  padding-left: 25%;
  margin-top: 25%;
  /* margin-bottom: 50vh; */
}

.errorcard{
margin-top: 25%;
}
.secondp {
  width: 50%;
  margin-left: 25%;
}

#main > div:nth-child(1) > div > div > a {
  margin-left: 20vw;
}

#navbar > div > button.navbar-toggler {
  background-color: var(--main-bg-color);
}

.carousel{
margin-top: 3%;
}

@media only screen and (max-width: 768px) {
.carousel{
  margin-top: 15%;
}
}

@media only screen and (max-width: 768px) {
.carousel{
  margin-top: 15%;
}
}


.gradient-1 { 
  background: hsla(12, 98%, 44%, 1);
  background: linear-gradient(90deg, hsla(12, 98%, 44%, 1) 28%, hsla(43, 100%, 52%, 1) 86%);
  background: -moz-linear-gradient(90deg, hsla(12, 98%, 44%, 1) 28%, hsla(43, 100%, 52%, 1) 86%);
  background: -webkit-linear-gradient(90deg, hsla(12, 98%, 44%, 1) 28%, hsla(43, 100%, 52%, 1) 86%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DC2F02", endColorstr="#FFBA08", GradientType=1 );
  width: 100%;
  height: 20vh;
  
}

/* Spinner */
/* KEYFRAMES */

@keyframes spin {
from {
  transform: rotate(0);
}
to{
  transform: rotate(359deg);
}
}

@keyframes spin3D {
from {
  transform: rotate3d(.5,.5,.5, 360deg);
}
to{
  transform: rotate3d(0deg);
}
}

@keyframes configure-clockwise {
0% {
  transform: rotate(0);
}
25% {
  transform: rotate(90deg);
}
50% {
  transform: rotate(180deg);
}
75% {
  transform: rotate(270deg);
}
100% {
  transform: rotate(360deg);
}
}

@keyframes configure-xclockwise {
0% {
  transform: rotate(45deg);
}
25% {
  transform: rotate(-45deg);
}
50% {
  transform: rotate(-135deg);
}
75% {
  transform: rotate(-225deg);
}
100% {
  transform: rotate(-315deg);
}
}

@keyframes pulse {
from {
  opacity: 1;
  transform: scale(1);
}
to {
  opacity: .25;
  transform: scale(.75);
}
}

/* GRID STYLING */

* {
box-sizing: border-box;
}
#spinner{
height: 100vh;
width: 100%; 
margin-top: 10%
}


.spinner-box {
width: 100%;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
}
.configure-border-1 {
width: 115px;
height: 115px;
padding: 3px;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
background: #fb5b53;
animation: configure-clockwise 2s ease-out 0s infinite alternate;
}

.configure-border-2 {
width: 115px;
height: 115px;
padding: 3px;
left: -115px;
display: flex;
justify-content: center;
align-items: center;
background: rgb(63,249,220);
transform: rotate(45deg);
animation: configure-xclockwise 2s ease-in-out 0s infinite alternate;
}

.configure-core {
width: 100%;
height: 100%;
background-color: #1d2630;
}